<div class="container" *ngIf="isLoggedIn()">
  <div class="row">
    <div class="col-xs-12">
      <nav class="nav justify-content-center">
        <a class="nav-link" routerLinkActive="active" routerLink="/">Home</a>
        <a class="nav-link" routerLinkActive="active" routerLink="/product">Products</a>
        <a class="nav-link" routerLinkActive="active" routerLink="/file/list">Files</a>
        <a class="nav-link" routerLinkActive="active" routerLink="/file/upload">Upload Files</a>
        <a class="nav-link" href="" (click)="logOut()">Logout</a>
      </nav>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
